---
layout: default
---

<div class="home">
  <section class="text">
    <p>
        <img src="/images/lavaldi.jpg" alt="La Valdi" class="avatar" />
    </p>
    <p class="intro">
      Hi! I'm Claudia Valdivieso (alias "La Valdi"), a front-end programmer, accidental writer, and a Jesus freak for ever ❤️❤️❤️.
    </p>
  </section>

  <!-- Section for featured post -->
  <section class="site-section">
    <div class="wrapper">
      <h1>featured article</h1>
      {% assign count = 0 %}
        {% for post in site.posts %}
          {% if post.featured == true and count < 1 %}
            <div class="post post-featured">
              {% include post.html %}
            </div>
            {% assign count = count | plus: 1 %}
          {% endif %}
        {% endfor %}
    </div>
  </section>
  <!-- Section for featured works
  <section class="site-section">
    <h1>last projects</h1>
    <ul class="work-list">
      {% for work in site.categories['work'] | limit: 3 %}
        {% include work.html %}
      {% endfor %}
    </ul>
  </section>
  -->
  <!-- Section for latest articles -->
  <section class="site-section site-section-last">
    <div class="wrapper">
      <h1>latest articles</h1>
      <ul class="post-list">
        {% for post in site.posts | limit: 4 %}
          {% if post.type == "post" %}
            <li class="post">
              {% include post.html %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </section>

</div>
