.site-nav{
  text-align: center;

  ul {
    margin: 1em 0;
    list-style: none;
  }
  li {
    display: inline-block;
    margin: 0 0.5em;
    font-size: 1.5em;
  }
}

.site-title a{
  color: #000;
  text-shadow:
    1px 0px 1px #fff, 0px 1px 1px #fff, 
    2px 1px 1px #fff, 1px 2px 1px #fff,
    3px 2px 1px #fff, 2px 3px 1px #fff,
    4px 3px 1px #fff, 3px 4px 1px #fff,
    5px 4px 1px #fff, 4px 5px 1px #fff,
    6px 5px 1px #fff, 5px 6px 1px #fff,
    7px 6px 1px #fff;

  &:hover{
    text-decoration: none;
  }
}

.site-header{
  padding: 2em 0 0;
  border-bottom: 1px solid #ccc;
  background: url('/images/header-bg.png');;
  background-size: 205px 355px;
  background-position: center center;
}
