.work-list{
  @extend %clearfix;
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.work{
  float: left;
  width: 33.33%;
  padding: 0 1em;
  text-align: center;
}

.work-caption{
  margin-top: 0.5em;
  font-size: $h3-font-size;
}

@include media-query($on-laptop){
  .work{
    width: 50%;
  }
}

@include media-query($on-palm){
  .work{
    width: 100%;
  }
}
